<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>
                <b><u>Team</u></b>
            </h2>
        </div>
    </div><br><br>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <img src="../../../assets/team/Vikas.jpg"  width="100%"/>
                </div>
                <div class="col-md-9">
                    <h3>
                        Vikas Dhiman
                    </h3>
                    <br>
                    <strong>Title: </strong>Full-Stack Developer
                    <br>
                    <p>
                        <strong>Description: </strong>
                        <br>
                        I am a owner of this project. I have done front-end and also as a backend of this project. I am using the Angular 10, Spring Boot, Hibernate, Microservice, Mysql, RestAPI. I have also know about the UI/Ux designing.
                    </p>
                    <br>
                    <p>
                        <strong>Contact us: </strong>&nbsp;&nbsp;
                        <a style="color: orangered;" href="https://github.com/vikasdhiman0635"><i class="fa fa-github"></i></a>&nbsp;&nbsp;
                        <a style="color: orangered;" href="https://www.linkedin.com/in/vikas-dhiman-a19a8018b/"><i class="fa fa-linkedin"></i></a>&nbsp;&nbsp;
                        <a style="color: orangered;" href="https://www.facebook.com/vikas.dhiman.52493499"><i class="fa fa-facebook"></i></a>&nbsp;
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>