<ngx-spinner bdColor = "rgba(0,0,0,0.4)" size = "medium" color = "#fff" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<br>
<br>
<div class="container">
    <form [formGroup]="addbus" (ngSubmit)="submit(addbus.value)">
        <div class="row" formArrayName="travel">
            <div class="col-md-6 col-sm-12 col-lg-6 col-xs-12" *ngFor="let group of travel.controls; let i = index;" [formGroupName]="i">
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <div class="col-8">
                      <h4>Add Check Points {{i+1}}</h4>
                    </div>
                    <div class="col-4 control-buttons">
                      <img src="/assets/icons/add.svg" alt="" (click)="addAddress1()">
                      <img src="/assets/icons/remove.svg" alt="" width="24" height="24" (click)="removeAddress1(i)">
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                      <label for="addText">Bus From :</label>
                      <input type="text" formControlName="travelbusfrom" class="form-control" placeholder="Bus From">
                      <div *ngIf="group.get('travelbusfrom').invalid && group.get('travelbusfrom').touched">
                          <small class="text-danger" *ngIf="group.get('travelbusfrom').errors?.required">Bus From is required</small>
                      </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="addText">Bus To :</label>
                        <input type="text" formControlName="travelbusto" class="form-control" placeholder="Bus To">
                        <div *ngIf="group.get('travelbusto').invalid && group.get('travelbusto').touched">
                            <small class="text-danger" *ngIf="group.get('travelbusto').errors?.required">Bus To is required</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                    <div class="form-group">
                      <label for="addText">Bus From Time:</label>
                      <input type="time" formControlName="travelbusfromtime" class="form-control" placeholder="Bus From Time">
                      <div *ngIf="group.get('travelbusfromtime').invalid && group.get('travelbusfromtime').touched">
                          <small class="text-danger" *ngIf="group.get('travelbusfromtime').errors?.required">Bus From Time is required</small>
                      </div>
                    </div>
                </div>
                    <div class="col-md-6">
                    <div class="form-group">
                      <label for="addText">Bus To Time :</label>
                      <input type="time" formControlName="travelbustotime" class="form-control" placeholder="Bus To Time">
                      <div *ngIf="group.get('travelbustotime').invalid && group.get('travelbustotime').touched">
                          <small class="text-danger" *ngIf="group.get('travelbustotime').errors?.required">Bus To Time is required</small>
                      </div>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        <label for="addText">Bus Prize :</label>
                        <input type="number" formControlName="travelbusprize" class="form-control" placeholder="Bus Prize" >
                        <!-- <small class="text-danger" *ngIf="group.get('travelbusprize').errors?.mismatch">This is not a right value</small> -->
                        <div *ngIf="group.get('travelbusprize').invalid && group.get('travelbusprize').touched">
                            <small class="text-danger" *ngIf="group.get('travelbusprize').errors?.required">Bus Prize is required</small>
                        </div>
                      </div>
                  </div>
              </div>
              <br>
              <br>
            </div>
            <div class="col-md-6">
            </div>
          </div>
          <input type="submit" value="Add Bus" [disabled]="!addbus.valid" class="btn btn-primary float-right">
          <br>
        </form>


</div>
<br>
<br>