* {
    box-sizing: border-box;
    color: white;
  }
  
  body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
  }
  
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
  
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

  
.box
{
    box-shadow: 0 0 10px #000;
    padding: 30px;
    border-radius: 20px;
    font: Cutive;
    background-color: transparent;
}
.title
{
    font-size: 20px;
}
.in
{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;
    width: 100%;
    outline: none;
    background-color: transparent;
}
.b{
    background-color: transparent;
    border: 2px olid white;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}