<video autoplay muted loop id="myVideo">
    <source src="../../../assets/video/GoogleMaps.mp4" type="video/mp4">
  </video>
<br><br><br>
<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <u><h2>Get in touch</h2></u>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6 box">
            <div class="row text-center">
                <div class="col-md-12">
                    <h3 style="font-weight: bold;">Contact Form</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <span class="title">Name: </span> 
                </div>
                <div class="col-md-9">
                    <input type="text" class="in"/>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-3">
                    <span class="title">Email Id: </span> 
                </div>
                <div class="col-md-9">
                    <input type="text" class="in"/>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-3">
                    <span class="title">Subject: </span> 
                </div>
                <div class="col-md-9">
                    <input type="text" class="in"/>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-3">
                    <span class="title">Message: </span> 
                </div>
                <div class="col-md-9">
                    <input type="text" class="in"/>
                </div>
            </div>
            <br>
            <div class="row text-right">
                <div class="col-md-12">
                    <input type="submit" class="b" value="Submit">
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 box">
            <div class="row text-center">
                <div class="col-md-12">
                    <h3 style="font-weight: bold;">Address Details</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <span class="title">Address:</span>
                </div>
                <div class="col-md-9">
                    <span class="title">H. No. 461, W. No. 15, Near Hanuman Mandir, Gharaunda, Karnal, Haryana, India</span>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-3">
                    <span class="title">Email Id:</span>
                </div>
                <div class="col-md-9">
                    <span class="title">vikasdhiman835@gmail.com</span>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-3">
                    <span class="title">Phone No:</span>
                </div>
                <div class="col-md-9">
                    <span class="title">9518636811/9034840635</span>
                </div>
            </div>
        </div>
    </div>
</div>