<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 style="color: skyblue; font-weight: bold;">Hello, here are three-step to change your password.</h1>
        </div>
    </div>
</div>
<br>
<br>
<div class="row space-rows">
    <div class="col">
        <form [formGroup]="firstForm" (ngSubmit)="first()">
            <div class="card cards-shadown" data-aos="flip-left">
                <div class="card-body">
                    <br>
                    <div class="group">
                        <input type="text" formControlName="email">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Email</label>
                    </div>
                </div>
                    <input type="submit" *ngIf="message1==null" [disabled]="!firstForm.valid" style="width: 120px; border: none;margin-left: 25px;" class="btn btn-primary" value="Next">
                <br>
            </div>
        </form>
    </div>
    <div class="col">
        <form [formGroup]="secoundForm" (ngSubmit)="secound()">
        <div class="card cards-shadown" data-aos="slide-right">
            <div class="card-body">
                <br>
                <div class="group">
                    <input type="password" formControlName="otp">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>OTP</label>
                </div>
                {{message2}}
            </div>
                <input type="submit" *ngIf="message2==null" [disabled]="!secoundForm.valid" style="width: 120px; border: none;margin-left: 25px;" class="btn btn-primary" value="Verify">
                <br>
        </div>
        </form>
    </div>
    <div class="col">
        <form [formGroup]="thirdForm" (ngSubmit)="third()">
            <div class="card cards-shadown" data-aos="flip-up">
                <div class="card-body">
                    <br>
                    <div class="group">
                        <input type="password" formControlName="newpassword">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>New Password</label>
                    </div>
                    <div class="group">
                        <input type="password" formControlName="confirmpassword">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Confirm Password</label>
                    </div>
                    {{message3}}
                </div>
                    <input type="submit" *ngIf="message3==null" [disabled]="!thirdForm.valid" style="width: 120px; border: none;margin-left: 25px;" class="btn btn-success" value="Update">
                    <br>
            </div>
        </form>
    </div>
</div>