<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>
                <b><u>Services</u></b>
            </h2>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4 text-center">
            <h5>
                Indian Bus Services Bus Ticket Booking
            </h5>
            <br>
            <p>Indian Bus Services is popular due to its adequate, safe and on-time bus services. Several types of buses run by Indian Bus Services help in connecting different routes. Indian Bus Services proficiently strives in maintaining its quality and delivering an affordable bus travel experience in the long run.</p>
        </div>
        <div class="col-md-4 text-center">
            <h5>
                Indian Bus Services Bus Services
            </h5>
            <br>
            <p>Indian Bus Services has a good frequency of buses that run all throughout the day promoting safety and comfort of passengers. Indian Bus Services staff are known for assisting passengers consistently. Travellers prefer Indian Bus Services due to its convenient and on time bus services across various city routes.</p>
        </div>
        <div class="col-md-4 text-center">
            <h5>
                Indian Bus Services Bus Types
            </h5>
            <br>
                The various types of buses run by Indian Bus Services are:
                <br>
                <ul>
                    <li>
                        A/C Sleeper (2+1)
                    </li>
                    <li>
                        NON A/C Seater / Sleeper (2+1)
                    </li>
                    <li>
                        A/C Seater / Sleeper (2+1)
                    </li>
                </ul>
        </div>
    </div>
</div>