<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
                <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top" style="color: black;">Bus Service</a>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="container text-center">
    <div class="row sss">
        <div class="col-md-12">
            <img src="../../../assets/images/pagenotfound.png" width="80%" alt="">
        </div>
    </div>
</div>